.progress-bar {
  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #424242;
  }

  &__value {
    font-size: 3rem; 
    font-family: 'Gilroy-Regular';
  }

  &__container {
    width: 85%;
    max-width: 230px;
  }
}
