.results-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;

  &__main {
    align-items: center;
  }

  &__words {
    align-items: flex-start;
  }
}

.results__buttons {
  font-family: "Gilroy-SemiBold";
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    font-family: "Gilroy-Medium";
    background-color: #ffc53d;
    color: #2c2647;

    @media (max-width: 400px) {
      font-size: 0.7rem;
    }
  }

  button:hover {
    background-color: rgb(138, 120, 250);
  }
}

.results__buttons_new-game {
  padding: 6px !important;
}

.MuiTabs-root {
  height: 50px;
}

.button-link {
  width: 120%;
  height: 120%;
  padding: 6px;
  color: #2c2647;
}

.tabs-container {
  @media (max-width: 500px) {
    font-size: 0.8rem !important;
  }
}
