.savanna {
  width: 100%;
  height: 100vh;
  background-image: url('../../../assets/img/bg-savanna.jpg');
  background-size: auto 150%;
  background-position: 50% 50%;
  overflow: hidden;
  user-select: none;
  position: relative;
  transition: background-position 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__wrapper {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &>* {
      padding: 10px 7px;
      margin: 10px;

      &:hover {
        cursor: pointer;
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
}

.answer {
  border: 2px solid rgba(255,255,255,0.3);
}

.current-word {
  font-size: 2rem;
  position: absolute;
  top: -10vh;
  left: auto;
}

.wrong {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  letter-spacing: 2rem;
}

.animation {
  animation: falling-down 7s linear;
}

@keyframes falling-down {
  0% {
    transform: translateY(-10vh);
    
  }
  100% {
    transform: translateY(110vh);
  }
}