@import "../../styles/variables";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  a {
    color: #fff;
    margin: 0;
    padding: 0;
  }

  &__logo {
    color: #fff;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 1rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  align-items: center;
  justify-content: center;

  &__item {
    display: flex;
    align-items: center;
    margin: 0 15px;
    position: relative;
    color: rgba(255, 255, 255, 0.837);
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 120%;
      left: 0;
      width: 100%;
      height: 2px;
      background: $color-secondary;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
    }
    &:hover {
      color: #fff;
      cursor: pointer;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.navigation__item_list:hover {
  .arrow {
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    transform: rotate(180deg);
  }

  .navigation_submenu {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100px;
  }
}

.navigation_submenu {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  top: 50%;

  &__item {
    margin: 5px 0;
    background-color: $color-primary;
    border-radius: 5px;
    padding: 3px 7px;
    width: 100px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $color-secondary;
    }
  }
}

.item_one {
  margin-top: 20px;
}

.button {
  font-family: "Gilroy-Regular";
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  border: 0;
  padding: 5px 30px;
  border-radius: 20px;
  transition: all 0.25s;

  &:hover {
    cursor: pointer;
  }

  &_bordered {
    border: 2px solid $color-secondary;
    background: linear-gradient(
      to bottom,
      transparent 50%,
      $color-secondary 50%
    );
    background-size: 100% 200%;
    background-position: left 0%;
    transition: all 200ms ease-in-out;

    &:hover {
      background-position: left 98%;
      transition: all 200ms ease-in-out;
    }
  }
}
// header {
//   display: flex;
//   height: 80px;
//   width: 100%;
//   background-color: #4379FF;
//   flex-direction: column;
//   align-items: center;
//   color: black;
//   .header-wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     width: 90%;
//   }
//   .header-right {
//     display: flex;
//     column-gap: 1rem;
//     .MuiSvgIcon-root {
//       font-size: 2rem;
//       opacity: 0.5;
//       &:hover {
//         cursor: pointer;
//         opacity: 0.8;
//       }
//     }
//     .MuiAvatar-root {
//       width: 35px;
//       height: 35px;
//     }
//   }
//   .logo {
//     text-decoration: none;
//   }
// }
