.game-button {
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &:active,
  &:focus {
    outline: none;
    stroke: none;
  }
}

.game-buttons {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 3000;
}
