$dark-font: #2c2647;
$yellow-btn: #ffdc74;
$footer: #1d1835;
$bg-color: #f3f5f9;
$primaryColor : #4379FF;
$cocoBackground : #FBFCFF;
$inactive: #d0d0d0;

// levels
// $color-level-one: #ffdc74;
// $color-level-two: #1dc4a2;
// $color-level-three: #5d7cfe;
// $color-level-four: #cc74ff;
// $color-level-five: #ff7171;
// $color-level-six: #5155d3;

$color-level-one: #FFC53D;
$color-level-two: #9CD7F9;
$color-level-three: #4CCBB7;
$color-level-four: #FF7171;
$color-level-five: #5D7CFD;
$color-level-six: #8A78FA;


// style - 1
$color-primary: #595ed6;
$color-primary-light: #acaee6;
$color-secondary: #fa8300;
$color-secondary-light: #ffaa01;
$color-secondary-light-2: #f82e30;
$color-light-s: #ffffff;
$color-light-m: #f9f8fa;
$color-menu: #29244e;
