$bg-color: #f3f5f9;
$primaryColor : #4379FF;
$cocoBackground : #FBFCFF;

body {
background-color: bg-color;
}

.main-heading {
    font-family: 'Gilroy-Heavy';
    font-size: 3rem;
    border: none;
    background-color: #fbfcff;
    display: flex;
}

.main-heading--active {
    color: #2c2647;
}

.main-heading--unactive {
    color: #d0d0d0;
}

.makeStyles-wordCard-5 {
    width: 161px;
    height: 80px;
    color: #292448;
    align-items: flex-start;
    background-color: #ffffff;
    padding-left: 0.6rem;
    border-bottom: #d8d8d8 solid 1px;
    border-right: #dddce0 solid 1px;
    border-radius: 0.6rem;
}



.pre-publish{
	position: relative;
	overflow: hidden;
	background-color: $cocoBackground;
	min-height: 100vh;
	margin-bottom: 50px;
	@media (max-width:768px){
		min-height: calc(100vh - 50px);
	}
	&:before,&:after{
		content:'';
		position: absolute;
		height: 40vw;
		width: 40vw;
		border-radius: 7vw;
		transform: rotate(-25deg);
		transform-origin: center center;
		background-color: $primaryColor;
		z-index: 0;
		opacity: .8;
		box-shadow: 0 0 20px 0 rgba(255,255,255,1);
		@media (max-width:768px){
			height: 60vw;
			width: 80vw;
		}
	}
	&:before{
		animation: bg-animation-before 25s ease-in-out infinite both;
		top:-20vw;
		left: -8vw;
	}
	&:after{
		animation: bg-animation-after 35s ease-in-out infinite both;
		transform: rotate(65deg);
		bottom:-25vw;
		right: -10vw;
	}
}

@keyframes bg-animation-after{
	30%{
		transform: rotate(75deg);
		right: -20vw;
	}
	60%{
		transform: rotate(55deg);
		right: -15vw;
		bottom:-20vw;
	}
}
@keyframes bg-animation-before{
	30%{
		transform: rotate(-35deg);
		left: -15vw;
	}
	60%{
		transform: rotate(-20deg);
		left: -20vw;
		top:-15vw;
	}
}
