$yellow-btn: #ffdc74;
$dark-font: #2c2647;

.card-word {
    width: 205px;
    height: 80px;
    justify-content: flex-start;
    display: 'flex';
    flex-direction: 'column';
    padding-left: 1rem;
    padding-top: 1rem;
    user-select: 'none';
    overflow-wrap: 'break-word';
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        transition: all 0.3s;
        background-color: $yellow-btn !important;
    }

    h2 {
        font-size: 1.3rem;
        font-family: 'Gilroy-SemiBold';
        margin-bottom: 0;
    }

    p {
        font-size: 1rem;
        font-family: 'Gilroy-Medium';
    }
}

.MuiPaper-root {
    color: #2c2647 !important;
    background-color: #f3f4f8 !important;
    box-shadow: none !important;
}
    

#card-details {
    .MuiCardContent-root {

        .word {
    
            &-word {
                font-size: 2.5rem;
                font-family: 'Gilroy-SemiBold';
            }
    
            &-transcription {
                font-size: 1.2rem;
                font-family: 'Gilroy-Medium';
                font-weight:600;
                letter-spacing: 0.1em;
            }

            &-translate {
                font-size: 1.5rem;
                font-family: 'Gilroy-SemiBold';
            }

            &-subheading {
                font-size: 1.2rem;
                font-family: 'Gilroy-Bold';
                margin-bottom: 1rem;
            }

            &-description {
                p {
                    font-size:  1rem;
                }

                p:nth-child(3n){
                    font-size:  1rem;
                    font-family: 'Gilroy-RegularItalic' !important;
                }
            }
        }

        .MuiCardActions-root {
            padding: 0;
            margin-bottom: 2rem;

            button {
                border-radius: 50px;
                background-color: $yellow-btn;
                border: none;
            }
        }

    }

    .word-image {
            height: 200px;
            border-bottom-right-radius: 11rem;
            border-top-left-radius: 11rem; 
    }

    .MuiPaper-root {
        border-top-left-radius: 11rem !important;
    }
            
}

h1 {
    display: block;
    font-size: 2rem;
    font-family: 'Gilroy-Heavy';
    color: $dark-font;
    padding-left: 1rem;
}
.card-games-wrapper {
    display: flex;
}
.card-games{
    background-color: #f3f4f8;
    border-radius: 0.5rem;
    width: 270px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 1rem;
    margin: 1rem;
    position: relative;

    &-image {
        width: 250px;
    }

    &-text {
        display: flex;
        flex-direction: column;
        // position: absolute;
        // top: 0;
        padding-top: 1rem;

        h2 {
            font-size: 1.7rem;
            font-family: 'Gilroy-Heavy';
        }

        p {
            font-size: 0.9rem;
            font-family: 'Gilroy-SemiBold';
        }
    }
}

.card-games:hover {
    border-bottom: #2c2647 solid 2px;
}

a {
    text-decoration: none;
    color: #2c2647;
}

.card-games-badge {
    background-color: #ffdc74;
    display: inline-block;
    width: fit-content;
    font-family: 'Open Sans';
    padding: 0.2rem;
    border-radius: 5px;
}