.lives {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  margin-right: 100px;

  @media (max-width: 400px) {
    justify-content: flex-start;
    padding-top: 50px;
    margin-right: 0;
  }

  &>* {
    margin: 0 2px;
  }
}

.life-icon {
  background-image: url('../../../../assets/img/savanna/life.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  transition: all 0.5s ease-in-out;
}

.life-icon__disabled {
  opacity: 0.3;
}