.lives {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 30px 0;

  &>* {
    margin: 0 2px;
  }
}

.life-icon {
  background-image: url('../../../../assets/img/savanna/life.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  transition: all 0.5s ease-in-out;
}

.life-icon__disabled {
  opacity: 0.3;
}