.statistic-container {
    width: 50vw;
    padding: 1.5rem 3rem;
    margin: o auto;
    border-radius: 8px;
    background-color: rgb(241, 241, 241);
    display: flex;

    canvas {
        margin: 2rem;
        border-radius: 10px;
        padding: 2rem 1rem;
    }
}

.charts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.growth-container, .bar-container {
    background-color: #4e57bc;
}