.bg {
  animation: slide 20s ease-in-out infinite alternate;
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -2;

  &:after {
    background-image: url(https://sonictonic.io/wp-content/uploads/2019/11/white-noise.jpg);
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.015;
    position: fixed;
    top: -110%;
    width: 300%;
  }

  &_oasis {
    @extend .bg;
    background-image: linear-gradient(315deg, #070948 50%, #181b71 50%);
  }

  &_savanna {
    @extend .bg;
    background-image: linear-gradient(315deg, #053f48 50%, #086f58 50%);
  }

  &_sprint {
    @extend .bg;
    background-image: linear-gradient(315deg, #001a86 50%, #132a8c 50%);
  }
  &_audiocall {
    @extend .bg;
    background-image: linear-gradient(315deg, #8c1b1beb 50%, #bd6b30 50%);
  }
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 20s;
}

.bg3 {
  animation-duration: 15s;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.wrapper_audiocall {
  position: relative;
}