.sprint {
  width: 100%;
  height: 90vh;
  background-image: url('https://cdn.apkmody.io/uploads/2020/08/Spirit-Sprint-MOD-APK-gameplay.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .sprint_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 220px;
  }
}
