.sprint {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  &-stat {
    display: flex;
    justify-content: space-around;
    min-width: 480px;
    flex-direction: row;
    font-size: 1.5rem;
  }
  .MuiBadge-colorPrimary {
    color: #fff;
    background-color: #35c77f;
}
  .sprint_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 220px;
  }
}
