.levels-wrapper {
    display: flex;
    flex-direction: row;
}


.level-card {
    height: 70px;
    margin: 2rem 0.5rem 3rem 0.5rem;
    width: 220px;
    background-color: #f3f4f8;
    display: flex;
    border-radius: 0.5rem;
    color: #2c2647;
    font-size: 1rem;
    font-family: 'Gilroy-Heavy';
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1.2rem;
    position: relative;
    align-items: center;
    overflow: hidden;
    border: none;
    cursor: pointer;

    &:focus, &:active {
        border: none;
        outline: none;
    }

    &-left {
        text-align: left;
        z-index: 2;

        h2{ 
            font-family: 'Gilroy-Bold';
            font-size: 1.3rem;
        }

        p {
            font-family: 'Gilroy-RegularItalic';
            font-size: 0.8rem;
        }
    }

    &-right {
        z-index: 2;

        h2{ 
            font-family: 'Gilroy-Heavy';
            font-size: 1.5rem;
        }
    }

    .circle {
        border-radius: 53px;
        height: 110px;
        width: 110px;
        position: absolute;
        top: -1rem;
        right: -2.5rem;
        overflow: hidden;
    }  
}

.levels-wrapper {
    .level-card {
        transition: all 0.5s;
        &:nth-child(1) {
            .circle {
                background-color: #ffdc74;
            }
        }

        &:nth-child(2) {
            .circle {
                background-color: #1dc4a2;
            }
        }

        &:nth-child(3) {
            .circle {
                background-color: #5d7cfe;
            }
        }

        &:nth-child(4) {
            .circle {
                background-color: #cc74ff;
            }
        }

        &:nth-child(5) {
            .circle {
                background-color: #ff7171;
            }
        }

        &:nth-child(6) {
            .circle {
                background-color: #5155d3;
            }
        }
    }
}

.level-card--unactive {
    background-color: #f3f4f8;
    border: none;
    outline: none;
    transition: all 0.5s;

    .level-card-left {
        color: #d0d0d0;
    }

    .level-card-right h2 {
        color: #d6d3d3;
    }

    .circle {
        background-color: #ececec !important;
    }

    &:focus, &:active {
        border: none;
    }
}