@import "../../styles/variables";

.footer {
  overflow: hidden;
  padding-top: 100px;
  background: linear-gradient(
    -45deg,
    $color-primary,
    rgb(107, 97, 220),
    rgb(80, 71, 174),
    $color-primary
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: relative;
  display: flex;
  align-items: flex-end;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__top-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-column-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
    margin-bottom: 10px;

    @media (max-width: 700px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__bottom-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.footer__logo {
  margin: 0;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-family: "Gilroy-Bold";
}

.logo-container {
  display: flex;

  img {
    margin-right: 12px;
    width: 20px;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    z-index: 100;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: "Gilroy-Bold";
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  &__item {
    margin: 0;
    margin-bottom: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.646);

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}
