// colors style 1

$color-primary: #7362d8;
$color-primary-light: #7da3f9;
$color-secondary: #ea8f6d;
$color-secondary-light-1: #eeb8c8;
$color-secondary-light-2: #efd7bf;
$color-light-s: #ffffff;
$color-light-m: #f7f9fc;

// colors style 2

// $color-primary: #595ed6;
// $color-primary-light: #acaee6;
// $color-secondary: #fa8300;
// $color-secondary-light: #ffaa01;
// $color-secondary-light-2: #f82e30;
// $color-light-s: #ffffff;
// $color-light-m: #f9f8fa;





