.login {
    &__wave{
        position: absolute;
        top: 0;
        left: -871px;
        height: 100%;
        width: 163%;

        path {
            fill:rgb(95, 56, 202);
        }
    }

    &__content {
        max-width: 500px !important;
        // position: absolute;
        // right: 10rem;
        // bottom: 20rem;
    }
}